*::before, *::after, * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  text-align: center;
  height: 100vh;
}

body {
  background: #fff;
  width: 80vw;
  /* margin: top right bottom left */
  /* margin: top/bottom left/right; */
  margin: 0 auto;
  height: 100vh;
}

[role='banner']::before {
  content: '';
  height: 15vh;
  width: 100vw;
  display: block;
  position: absolute;
  background: #9cc;
  z-index: -1;
  left: 0;
}

[role='banner'] h1,
[role='banner'] h2 {
  margin: 0;
}

[role='banner'] h1 {
  font-size: 7vh;
}

[role='banner'] h2 {
  font-size: 5vh;
}
