*::before, *::after, * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  text-align: center;
  height: 100vh;
}

body {
  background: #fff;
  width: 80vw;
  /* margin: top right bottom left */
  /* margin: top/bottom left/right; */
  margin: 0 auto;
  height: 100vh;
}

[role='banner'] h1,
[role='banner'] h2 {
  margin: 0;
}
