*::before, *::after, * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  background: #ccc;
  text-align: center;
}

body {
  background: #fff;
  width: 500px;
  /* margin: top right bottom left */
  /* margin: top/bottom left/right; */
  margin: 0 auto;
}
