*::before, *::after, * {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  height: 100vh;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

dl {
  margin: 1rem 2.5rem;
}

dt {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-size: 2rem;
}

dd {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  text-transform: none;
}
