*::before, *::after, * {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  height: 100vh;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header {
  margin-bottom: 5rem;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

p {
  margin: auto;
  max-width: 500px;
}

main {
}

dl {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div {
  margin: 1rem 2.5rem;
}

dt {
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  font-size: 2rem;
}

dd {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.price {
  font-size: 1.5rem;
  margin: 2rem 0;
}

ul {
  list-style: none;
  padding: 0;
  text-transform: none;
  font-family: serif;
}

a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  background: #333;
  border: 2px solid transparent;
}

a:hover {
  background: #666;
}

a:focus {
  outline: none;
  border: 2px solid #cc9;
  background: #666;
}
